*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header{
    background: #F6EBDA;
    background-image: url(../../assets/bg_img_hero.png),url(/assets/bg_img_hero.png);
    background-position: left bottom, right top;
    background-repeat: no-repeat;
    height: 100vh;
}
.tavar{
    padding-top: 20px;
    width: 100%;
    height: 100%;
    text-align: center;
}
.navbar{
    width: 100%;
}

.content{
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
img{
    margin: auto;
}
button{
    width: 154px;
    height: 36px;
    border: none;
    border-radius: 5px;
    background: rgb(94, 218, 94);
    color: #fff;
}
p{
    font-size: 20px;
    color: #5c1a1a;
    max-width: 500px;
    margin-top: 20px;
    margin-bottom: 20px;
}
p:nth-child(3){
    color: gold;
}